
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    font-family: poppins, sans-serif;
    font-size: 14px;
}

body{
    background: #fff;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: monospace;
}

table{
    width: 80%;
    margin: 40px auto;
    background: rgb(224, 224, 224);
    border: none;
    border-radius: 10px;
}

table .list{
    text-align: center;
    width: 100%;
}

td{
    text-align: left;
    padding: 8px 15px;
}

tr:nth-child(even), table .list thread> tr{
    background-color: rgb(167, 167, 167);
}

input[type="text"],input[type="number"]{
    width: 91%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(165, 161, 161);
    border-radius: 4px;
}

input[type="submit"],input[type="reset"]{
    color: #fff;
    background: #16243b;
    width: 100px;
    padding: 6px 12px;
    margin: 15px 10px 10px;
    display: inline-block;
    border: none;
    border-radius: 30px;
    font-size: .8rem;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover{
    color: #000000;
    background: #ffffff;
    transition: .2s;
    outline: 1px solid #707070;
}

input[type="reset"]:hover{
    color: #000000;
    background: #ffffff;
    transition: .2s;
    outline: 1px solid #757575;
}

button{
    color: #000000;
    background: #ffffff;
    width: 70px;
    padding: 6px 12px;
    margin: 15px 10px 10px;
    display: inline-block;
    border: none;
    border-radius: 30px;
    font-size: .8rem;
    cursor: pointer;
    outline: none;
}

button:hover{
    color: #000000;
    background: #ffffff;
    transition: .2s;
    outline: 1px solid #000000;
}